.header-container {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  .header__data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2vmin;
  }
  .header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vmin;
  }
  .header__hints {
    color: red;
    animation: hints 0.5s alternate infinite;
  }
}
@keyframes hints {
  from {
    opacity: 0.2;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.3);
  }
}
