.map-container{
  // border: solid 1px yellow;
  // height: 100%;
  // width: 100%;
}
//   display: grid;
//   grid-template-rows: repeat(6,auto);
//   grid-template-columns: repeat(9,auto);
// }
.map-row{
  // border: solid 1px yellow;
  display: flex;
  justify-content: center;
}
.map-box{
  // height: 10vh;
  // width: 100%;
  // background-image: url("../../../../public/assets/game/tile1.png");
  background-size: cover;
  background-position: center;
  // border: 5px solid salmon;
}