.player {
  position: absolute;
  z-index: 100;
  transition: top 1.5s linear, left 1.5s linear, transform 0.2s linear;
  transform: rotate(0) translate(10%, -25%);
  // border: 3px solid pink;
}
.player__highlight{
  animation: highlight 0.5s alternate 10;
}
@keyframes highlight {
  from{
    filter: hue-rotate(0) saturate(0);
  }to{
    filter: hue-rotate(90deg) saturate(10);
  }
}

