
.container{
  display: grid;
  grid-template-rows: 20vmin 60vmin 20vmin;
  color: white;
}
.header{
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  justify-content: space-between;
  align-items: center;
}
.profilebox_container{
  display: flex;
  flex-direction: row;
}
.profilebox__container{
  max-width: 15vmin;
  max-height: 15vmin;
  border-radius: 10px;
  border: 3px solid var(--ion-color-primary);
  background-color: rgba(95, 158, 160, 0.692);
}
.upperbox__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "BlackOpsOne-Regular";
  /* justify-content: space-around; */
}

.rankbox__container,.lifesbox__container{
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: flex-end;
  padding: 1.5vmin;
  border-radius: 10px;
  border: 3px solid var(--ion-color-primary);
  font-size: 3.5vmin;
}
.upperbox__icon{
  font-size: 5vmin;
}
.main__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 2vmin;
  justify-self: center;
  text-shadow: 2px 2px #555;
}
.main__title h1{
  font-size: 10vmin;
}
.main__hero{
  position: absolute;
}
.main__hero img{
  object-fit: contain;
}
.main__title ion-button{
  color: white;
}
.main__footer{
  width: 80%;
  justify-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 5vmin;
}

ion-modal#profile-modal {
  --height: 70%;
  --width:50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal#profile-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal#profile-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}